p {
  line-height: 1.5;
  font-size: 16px;
}


.footer {
  background: #f7f7f7;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  width: 100%;
  display: flex;
  line-height: 1.5em;
}

.container-thin {
  padding: 0 0.5em;
}

.footer-blurb {
  width: 25%;
  margin-right: 13%;
  display: inline-block;
}

.footer-blurb-title {
  margin: 0 0 1.25em;
}

.footer-blurb-text{
  line-height: 1.562em;
  font-size: 16px;
}

.footer-address {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  font-style: normal;
  line-height: 1.5625em;
  font-size: 16px;
}

.footer-contact {
  display: inline-block;
  width: 35%;
  vertical-align: top;
  font-size: 16px;
  padding-right: 20px;
}
.footer-contact-details {
  vertical-align: top;
  margin-bottom: 1.5em;
  border-left: 1px #c0c0c0 solid;
  padding-left: 1em;
  min-height: 3em;
}

.footer-contact-signup{
  display: flex;
  flex-direction: column;
}

.footer-contact-signup .form {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}
/* .title{
  font-family: ;
} */
.title-xs{
  font-size: 1.4375em;
  font-weight: bold;
}